{% extends "base.html" %}
{% load bootstrap %}

{% block title %}参加者の編集{% endblock title %}

{% block content %}
    <h3 class="page-header">参加者の編集</h3>
    {% if duelist_id %}
    <form action="{% url 'cms:duelist_mod' duelist_id=duelist_id %}" method="post" class="form-horizontal" role="form">
    {% else %}
    <form action="{% url 'cms:duelist_add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">送信</button>
            </div>
        </div>
    </form>
    <a href="{% url 'cms:duelist_list' %}" class="btn btn-default btn-sm">戻る</a>
{% endblock content %}

