{% extends "base.html" %}

{% block title %}大会の一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">大会の一覧</h3>
    <a href="{% url 'cms:tournament_add' %}" class="btn btn-default btn-sm">追加</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>大会ID</th>
          <th>大会名</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for tournament in tournaments %}
        <tr>
          <td>{{ tournament.id }}</td>
          <td><a href="{%url 'cms:duelists_by_tournament' tournament_id=tournament.id %}" class="btn btn-default btn-sm">{{ tournament.name }}</td>
          <td>
            <a href="{% url 'cms:tournament_mod' tournament_id=tournament.id %}" class="btn btn-default btn-sm">編集</a> 
            <a href="{% url 'cms:tournament_del' tournament_id=tournament.id %}" class="btn btn-default btn-sm">削除</a> 
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}

